@font-face {
  font-family: "ralewaybold";
  src: url("../fonts/raleway-bold-webfont.woff2") format("woff2"),
    url("../fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayitalic";
  src: url("../fonts/raleway-italic-webfont.woff2") format("woff2"),
    url("../fonts/raleway-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayregular";
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"),
    url("../fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid red;
  font-family: "ralewayregular", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header_container {
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  flex-wrap: 1;
  height: 50px;
}

.logo {
  width: 65%;
  padding-left: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.logo span {
  color: green;
  font-family: "ralewaybold";
}

.menu {
  width: 35%;
  height: 50px;
}
.menu_list {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  line-height: 50px;
  padding-left: 23px;
}
/* 
.menu_list:first-child {            
    font-family: "ralewaybold";
} */

.main_info {
  position: absolute;
  list-style: none;
  top: 80px;
  left: 65%;
  background-color: black;
  width: calc(100% - 88.34%);
  height: 132px;
  text-align: center;
}
.info {
  padding-left: 23px;
  display: block;
  height: 44px;
  text-align: left;
  text-transform: capitalize;
}
.header_container:after {
  top: 58px;
  left: 69.83%;
  position: absolute;
  content: "\25b2";
  color: black;
  font-size: 25px;
  vertical-align: middle;
}

.section1_container {
  display: flex;
  width: 100%;
  background-color: burlywood;
  color: black;
  flex-wrap: 1;
  height: 400px;
}
